<div class="edit-form">
  <%= form_for @user, remote: true, class: "form-horizontal" do |f|%>
    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>
    <div class="form-group">
      <%= f.label :state %>
      <%= f.select(:state, options_for_select(us_states)) %>
    </div>
    <div class="form-group">
      <%= f.label :occupation %>
      <%= f.text_field :occupation %>
    </div>
    <div class="form-group">
      <%= f.label :bio %>
      <textarea class="form-control" rows="5" name="user[bio]" id="user_bio"><%= @user.bio %></textarea>
    </div>
    <div class="form-group">
      <%= f.submit "Save Changes", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
