<div class="page-header">
  <h1><%= @user.full_name %></h1>
  <% if current_user.id == @user.id %>
    <%= link_to "Edit Profile", edit_user_path(@user), class: "answer-link", remote: true %>
  <% else %>
    <%= link_to "Send Direct Message" %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-3">
    <% if @user.image.present? %>
      <%= image_tag @user.image.url(:large) %>
      <p><%= link_to "Change Profile Picture" %></p>
    <% else %>
      <%= form_for @user, html: { multipart: true } do |f| %>
        <%= f.label :image, "Add an image to your profile" %>
        <%= f.file_field :image %>
        <%= f.submit "Add Image" %>
      <% end %>
    <% end %>
  </div>

  <div class="profile-info col-md-6">
    <h4>Location</h4>
    <div class="city">
      City: <%= @user.city %>
    </div>
    <div id="new-answer-form" style="display:none;"></div>

    State: <%= @user.state %>
    <h4>Personal Info</h4>

    <div class="member">
      Member Since: <%= @user.created_at.strftime("%m/%d/%Y") %>
    </div>
    <div class="occupation">
      Occupation: <%= @user.occupation %>
    </div>
    <div class="bio">
      Bio: <%= @user.bio %>
    </div>
  </div>

  <div class="badges col-md-3">
    <h4>Badges</h4>
  </div>
</div>

<div class="buffer"></div>

<div class="row">
  <div class="add-skills col-md-6">
    <h4>What skills do you already know?</h4>
    <%= form_for @user_skill, class: "form-horizontal" do |f| %>
      <div class="form-group">
        <div class="col-xs-4">
          <%= f.text_field :skill_name, class: "form-control" %>
        </div>
      </div>
      <%= f.hidden_field :learned, :value => true %>
        <div class="form-group">
          <%= f.submit "Add known skill", class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>

  <div class="add-wishlist col-md-6">
    <h4>What skills do you want to learn?</h4>
    <%= form_for @user_skill, class: "form-horizontal" do |f| %>
      <div class=:form-group>
        <div class="col-xs-4">
          <%= f.text_field :skill_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit "Add skill to wishlist", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="buffer"></div>

<div class="row">
  <div class="my-skills col-md-6">
    <h4>My Skills:</h4>
    <% @user.user_skills.where(learned: true).each do |user_skill| %>
      <p><%= user_skill.skill.name %></p>
    <% end %>
  </div>

  <div class="my-wishlist col-md-6">
    <h4>My Wishlist:</h4>
    <% @user.user_skills.where(learned: nil).each do |user_skill| %>
      <p><%= link_to user_skill.skill.name, skills_to_learn_path(user_skill.skill.id) %></p>
    <% end %>
  </div>
</div>
