<div class="page-header">
  <h1><%= @user.full_name %></h1>
  <% if current_user.id == @user.id %>
    <%= link_to "Edit Profile", edit_user_path(@user), class: "edit-link", remote: true %>
  <% else %>
    <%= link_to "Send Trade Proposal", new_message_path(recipient_id: @user.id) %>
  <% end %>
</div>

<div id="new-message-form" style="display:none;"></div>

<% if current_user.id == @user.id %>
<div class="row">
  <div class="col-md-3">
    <% if @user.image.present? %>
      <%= image_tag @user.image.url(:large) %>
      <div class="edit-picture-link">
        <%= link_to "Change Profile Picture" %>
      </div>
      <div class="edit-picture">
        <%= form_for @user, html: { multipart: true } do |f| %>
          <%= f.file_field :image %>
          <%= f.submit "change picture", class: "btn-sm btn-primary" %>
        <% end %>
      </div>
    <% else %>
      <%= form_for @user, html: { multipart: true } do |f| %>
        <%= f.label :image, "Add an image to your profile" %>
        <%= f.file_field :image %>
        <%= f.submit "Add Image" %>
      <% end %>
    <% end %>
  </div>
<% else %>
<div class="row">
  <div class="col-md-3">
    <% if @user.image.present? %>
      <%= image_tag @user.image.url(:large) %>
    <% else %>
      Image Not Found
    <% end %>
  </div>
<% end %>

  <div class="profile-info col-md-6">
    <div id="edit-profile-form" style="display:none;"></div>
    <h4 class="location">Location</h4>
    <div class="city">
      City: <span class="city-data"><%= @user.city %></span>
    </div>

    <div class="state">
      State: <span class="state-data"><%= @user.state %></span>
    </div>
    <h4 class="personal-info">Personal Info</h4>

    <div class="member">
      Member Since: <%= @user.created_at.strftime("%m/%d/%Y") %>
    </div>
    <div class="occupation">
      Occupation: <span class="occupation-data"><%= @user.occupation %></span>
    </div>
    <div class="bio">
      Bio: <span class="bio-data"><%= @user.bio %></span>
    </div>
  </div>

  <div class="badges col-md-3">
    <h4>Badges</h4>
  </div>
</div>

<div class="buffer"></div>

<% if current_user.id == @user.id %>
  <div class="row">
    <div class="add-skills col-md-6">
      <h4>What skills do you already know?</h4>
      <%= form_for @user_skill, class: "form-horizontal" do |f| %>
        <div class="form-group">
          <div class="col-xs-4">
            <%= f.text_field :skill_name, class: "form-control" %>
          </div>
        </div>
        <%= f.hidden_field :learned, :value => true %>
          <div class="form-group">
            <%= f.submit "Add known skill", class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>

    <div class="add-wishlist col-md-6">
      <h4>What skills do you want to learn?</h4>
      <%= form_for @user_skill, class: "form-horizontal" do |f| %>
        <div class=:form-group>
          <div class="col-xs-4">
            <%= f.text_field :skill_name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit "Add skill to wishlist", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="buffer"></div>

  <div class="row">
    <div class="my-skills col-md-6">
      <h4>My Skills:</h4>
      <% @user.user_skills.where(learned: true).each do |user_skill| %>
        <p><%= user_skill.skill.name %>
          <%= link_to " ", (user_skill), data: {confirm: "Are you sure?", toggle: "tooltip", placement: "right", title: "remove skill"}, method: :delete, class: "glyphicon glyphicon-remove delete" %>
        </p>
      <% end %>
    </div>

    <div class="my-wishlist col-md-6">
      <h4>My Wishlist:</h4>
      <% @user.user_skills.where(learned: nil).each do |user_skill| %>
        <p><%= link_to user_skill.skill.name, skills_to_learn_path(user_skill.skill.id) %>
          <%= link_to " ", (user_skill), data: {confirm: "Are you sure?", toggle: "tooltip", placement: "right", title: "remove skill"}, method: :delete, class: "glyphicon glyphicon-remove delete" %>
        </p>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="buffer"></div>

  <div class="row">
    <div class="my-skills col-md-6">
      <h4><%= @user.full_name %>'s Skills:</h4>
      <% @user.user_skills.where(learned: true).each do |user_skill| %>
        <p><%= user_skill.skill.name %></p>
      <% end %>
    </div>

    <div class="my-wishlist col-md-6">
      <h4><%= @user.full_name %>'s Wishlist:</h4>
      <% @user.user_skills.where(learned: nil).each do |user_skill| %>
        <p><%= user_skill.skill.name %></p>
      <% end %>
    </div>
  </div>
<% end %>
